<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         processIsolation="false"
         backupGlobals="false"
         stopOnFailure="false"
         colors="true"
         displayDetailsOnPhpunitDeprecations="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         failOnNotice="true"
         failOnWarning="true"
         failOnDeprecation="false"
         failOnPhpunitDeprecation="true"
>

    <testsuites>
        <testsuite name="grphp-statsd Test Suite">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>deprecated</group>
        </exclude>
    </groups>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix=".php">vendor</directory>
        </exclude>
    </source>
    <coverage>
        <report>
            <html outputDirectory="coverage" lowUpperBound="35" highLowerBound="70"/>
            <clover outputFile="coverage/coverage.xml"/>
        </report>
    </coverage>
</phpunit>
